[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-registration = "*"
django-configurations = "*"
dj-database-url = "*"
django-rest-framework = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
mysqlclient = "*"
django = "*"
pandas = "*"
openpyxl = "*"
bokeh = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
