{% extends 'base.html' %}

{% block title %}
    Book List
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container mt-4">
        <h1 class="text-center">Book List</h1>
        <div class="text-end mb-3">
            <a href="{% url 'books:book_create' %}" class="btn btn-primary">Add Book</a>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="table-secondary">
                <tr>
                    <th>Title</th>
                    <th>Subtitle</th>
                    <th>Category</th>
                    <th>Publisher</th>
                    <th>Published Date</th>
                    <th>Expense</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in book_list %}
                    <tr>
                        <td><a href="{% url 'books:book_detail' book.id %}" class="text-decoration-none">{{ book.title }}</a></td>
                        <td>{{ book.subtitle }}</td>
                        <td>{{ book.category }}</td>
                        <td>{{ book.publisher }}</td>
                        <td>{{ book.published_date }}</td>
                        <td>{{ book.expense }}</td>
                        <td>
                            <a href="{% url 'books:book_delete' book.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}